<% layout('layouts/boilerplate.ejs') %>

<div class="row mb-5">
	<h1 class="text-center mb-4">Add New Campground</h1>
	<div class="col-md-6 offset-md-3">
		<form action="/campgrounds" method="post" class="validated-form" novalidate enctype="multipart/form-data">
			<div class="mb-3">
				<label for="title" class="form-label">Title </label>
				<!-- campground[title] refers to group content in json -->
				<input type="text" class="form-control" name="campground[title]" id="title" required autofocus />
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label for="location" class="form-label">Location </label>
				<input type="text" class="form-control" name="campground[location]" id="location" required />
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price </label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">$</span>
					<input type="text" class="form-control" name="campground[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required />
				</div>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea class="form-control" id="description" name="campground[description]" rows="3" required></textarea>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label for="image" class="form-label">Upload Image(s) </label>
				<input type="file" class="form-control" name="image" id="image" multiple />
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-primary">Add campground</button>
			</div>
		</form>
		<a href="/campgrounds">Cancel</a>
	</div>
</div>
