<% layout('layouts/boilerplate.ejs') %>

<h1>Add new campground</h1>

<form action="/campgrounds" method="post">
	<div class="">
		<label for="title">Title </label>
		<!-- campground[title] refers to group content in json -->
		<input type="text" name="campground[title]" id="title" />
	</div>
	<div class="">
		<label for="location">Location </label>
		<input type="text" name="campground[location]" id="location" />
	</div>
	<button>Add campground</button>
</form>

<br />
<a href="/campgrounds">Cancel</a>
