<% layout('layouts/boilerplate.ejs') %>

<h1><%= camp.title %> Campground</h1>
<h2><%= camp.location %></h2>
<a href="/campgrounds/<%= camp._id %>/edit ">Edit</a>
<div class="mt-3">
	<form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
		<button>Delete</button>
	</form>
</div>

<br />
<a href="/campgrounds">See all campgrounds</a>
